.hero-img{
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 60vh;
    position: relative;
}

.hero-img::before{
    content: "";
    background: url("https://cdn.discordapp.com/attachments/981697615685091358/1084214014122393622/Mani_Programming_Desktop_with_big_new_monitor_1ad73fe0-d4e4-4f78-84f0-5e9970b1fd57.png");
    background-size: cover;
    background-position: center top;
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
}


.heading{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-img h1{
    font-size: 2.4rem;
}

.hero-img p{
  font-size: 1.4rem;
  text-align: center;  
}

@media screen and (max-width: 640px) {
    .hero-img h1{
        font-size: 2rem;
    }
}
